@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

* {
  font-family: 'Inconsolata', monospace;
}

form {
  display: flex;
}

form > * {
  margin: 0 12px;
}

button {
  padding: 4px 12px;
  font-size: 16px;
  border-radius: 8px;
  border: solid 1px gray;
  background: #f1f1f1;
  box-shadow: 2px 2px 2px gray;
  cursor: pointer;
}

.stopwatch {
  font-size: 20px;
  display: flex;
  margin: 0 20px 20px;
}

.stopwatch > * {
  text-align: right;
  font-size: 80px;
}
